name: ubuntu-latest

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm]
        cc: [gcc, clang]

    steps:
    - uses: actions/checkout@v4

    - run: ./res/ci/nixish_setup.sh && make nix

    - env:
        MKN_GCC_PREFERRED: 1
      run: |
        ldd mkn
        mkdir -p ~/.maiken/app/mkn
        cp -r $PWD ~/.maiken/app/mkn/master
        [ "${{ matrix.cc }}" = "clang" ] && export CC=clang CXX=clang++
        KLOG=3 ./mkn build -dtKa "-std=c++17 -fPIC" -O 2 -g 0 -W 9
        KLOG=3 ./mkn build -Op test_mod -a "-std=c++17 -fPIC" -O 2 -g 0 -W 9
        KLOG=3 ./mkn build test pack -Op test -a "-std=c++17 -fPIC" -O 2 -g 0 -W 9
        KLOG=3 ./mkn build -dtOp format -a "-std=c++17 -fPIC" -O 2 -g 0 -W 9
        KLOG=3 ./mkn -p lib_test
        ldd bin/build/mkn
